<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.pages.loginPage"/>
      <class name="com.pages.AdminPage"/>
      <class name="com.pages.PimPage"/>
      <class name="com.pages.Leave"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
